body {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    position: relative;
    min-height: 100vh;
    background-color: #a2af9f;
    color: #0b3409;
}

#header, #footer {
    background-color: #0b3409;
    color: #a2af9f;
    padding: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

a, a:hover, a:active, a:visited {
    text-decoration: underline;
    color: #a2af9f;
}

#main {
    padding-bottom: 3.5rem;
}

#main a, #main a:hover, #main a:active, #main a:visited {
    color: #0b3409;
}

h1 {
    font-size: 48px;
}

#elementToAdd {
    width: 70%;
    height: 30px;
    margin: 20px 0 0 10px;
}

#add {
    height: 30px;
    width: 20%;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-right: 10px;
}

#list {
    margin: 20px auto;
    background-color: #6e7a6b;
    padding: 5px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

.element {
    display: flex;
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
}

.element p {
    width: 50%;
}

select {
    border: none;
    border-radius: 0;
    margin-right: 5px;
}

@media(min-width: 968px) {
    #elementToAdd {
        margin-left: 15px;
        width: 90%;
    }

    #add {
        width: 5%;
    }

    .element {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #list {
        width: 65%;
    }

    select {
        width: 150px;
    }
}